# COMMENT THIS TO PUSH THE FINAL PDF
*.pdf

*.aux
*.bbl
*.blg
*.brf
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.xml
*.bcf
*.xmpi

.DS_Store
__MACOSX/

*~
*.swp
*.bak
*.tmp
*.backup

*.ttf
*.otf

*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.ilg
*.idx
*.ind

build/
output/
